.draggable-radioset {
    position: absolute;
    background: $surface;
    border: solid $primary;
    margin: 0;
    min-width: 3;
    min-height: 3;
    padding: 0 0;
}

.draggable-radioset:focus {
    border: solid $accent;
}


RadioButton:focus {
    background: $accent;
    color: $text;
    border: none;

}

RadioButtonX:hover {
    background: $warning;
    color: $text;
}

RadioButtonX.-on {
    background: $primary;
    color: $text;
}

