Container {
    align: center middle;
    padding: 2;
}

Vertical {
    width: 100%;
    height: auto;
    border: solid $primary;
    padding: 2;
}


#widget_container {
    background: $surface;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container {
    background: $surface;
    color: $text;
}

.draggable-container {
    border: solid orange;
    width: 30;
    height: 15;
    background: $surface;
    position: absolute;
    border-title-align: center;
    align: left top;
    margin: 0;
    padding: 1;
}


